html {
  box-sizing: border-box;
  /* background-color: #121212; */
}

/* Style the header */
.header {
  padding: 20px;
  text-align: center;
}

.project-overview {
  margin-left: 10%;
  padding: 10px;
  max-width: 80%;
  max-height: 60%;
}
  
.project-search{
  border: 5px solid #FFECA1;
  display: inline-block;
  width: 275px;
}
.project-search >{
  margin:10px;
  color: white;
}

input{
  width:95%;
}

input::placeholder{
  color: #2cd319;
}

.project-add {
    margin-left:40%;
    width: 20%;
}

.project-add-link{
  color: #FFECA1;
}
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }