.header {
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  /* Left and right column */
  .column.side {
    float: left;
    width: 22.5%;
    border: 5px solid white;
  }
  
  /* Middle column */
  .column.middle {
    float: right;
    width: 70%;
    border: 5px solid white;
  }
  .footer {
    
    background-color: #121212;
    text-align: center;
    padding: 10px;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }