.table{
    border: 'solid 5px #FFECA1';
}

.table-head{
    borderBottom: 'solid 3px red';
    background: 'aliceblue';
    color: 'black';
    fontWeight: 'bold';
}

.table-cells{
    padding: '10px';
    border: 'solid 1px gray';
    background: 'papayawhip';
}