* {
  box-sizing: border-box;
  background-color: #121212;
}

/* Style the header */
.header {
  
  padding: 20px;
  text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
  background-color: #121212;
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 10%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  

  .footer {
    background-color: #121212;
    text-align: center;
    padding: 10px;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }