html {
  /*box-sizing: border-box;*/
  /* background-color: #121212; */
}

/* Style the header */
.header {
  padding: 10px;
  text-align: center;
}

.project-overview {
  margin-left: 10%;
  padding: 0px;
  max-width: 80%;
}
  
.project-search{
  border: 5px solid #FFECA1;
  display: inline-block;
  width: 275px;
  margin-bottom: 2.5%;
}
.project-search >{
  margin:10px;
  color: white;
}

input{
  width:95%;
}

input::placeholder{
  color: #2cd319;
}

.project-add {
    margin-top: 1%;
    margin-left:40%;
    width: 20%;
}

.remove-container {
  margin-top: 50px;
}

.input-remove-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 5px;
}

.project-remove {
  border: 5px solid #FFECA1;
  display: inline-block;
  width: 275px;
}

.project-add-link{
  color: #FFECA1;
}
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }